@k: 1;//1.0655;
.hover-disabled {
    .canvas{
      display: none!important;
    }
}
.canvas{
    width: 100%;
    height: 100%;
    position: absolute;

    &-i{
        position: absolute;
        .opacity(0);
        &:hover, &.active{
            .opacity(1);
        }
        &__frame{
            width: 117px;
            height: 117px;
            .box-sizing(border-box);
            border: 1px solid @white;
            .border-radius(4px);
            position: absolute;
            z-index: 1;
            @media @media-small {
                width: 90px;
                height: 90px;
            }
        }
        &--flash{

            top: -26px;
            left: 72px;
            img{
                width: 492px/@k;
                height: 480px;
            }
            .canvas-i__frame{
                top: 32%;
                left: 36%;
            }
            z-index: 1;
        }
        &--varrior{

            top: 438px;
            left: 0;
            img{
                width: 68px/@k;
                height: 114px;
            }
            .canvas-i__frame{
                top: 0;
                left: 3px;
            }
            z-index: 2;
        }
        &--ruin{
            bottom: -6px;
            left: 50px;
            z-index: 3;
            img{
                width: 619px/@k;
                height: 222px;
            }
            .canvas-i__frame:nth-child(2){
                top: -16px;
                left: 24px;
            }
            .canvas-i__frame:nth-child(3){
                top: -22px;
                left: 358px;
            }
            .canvas-i__frame:nth-child(4){
                bottom: 0px;
                right: 26px;
            }
        }
        &--hand{
            bottom: -5px;
            left: 272px;
            z-index: 4;
            img{
                width: 146px/@k;
                height: 165px;
            }
            .canvas-i__frame{
                top: 0;
                left: 0;
            }
        }
        &--head{
            bottom: 112px;
            left: 262px;
            img{
                width: 110px/@k;
                height: 126px;
            }
            .canvas-i__frame{
                top: 0;
                left: -9px;
            }
            z-index: 5;
        }
        @media @media-small {
            @k2: 0.7658;
            @kh: 0.7613;
            &--flash{

                top: -20px;
                left: 55px;
                img{
                    width: 492px*@k2/@k;
                    height: 480px*@kh;
                }
                .canvas-i__frame{
                    top: 32%;
                    left: 36%;
                }
                z-index: 1;
            }
            &--varrior{

                top: 438px*@kh;
                left: 0;
                img{
                    width: 68px*@k2/@k;
                    height: 114px*@kh;
                }
                .canvas-i__frame{
                    top: 0;
                    left: 3px*@kh;
                }
                z-index: 2;
            }
            &--ruin{
                bottom: -6px;
                left: 38px;
                z-index: 3;
                img{
                    width: 619px*@k2/@k;
                    height: 222px*@kh;
                }
                .canvas-i__frame:nth-child(2){
                    top: -16px*@kh;
                    left: 24px*@k2;
                }
                .canvas-i__frame:nth-child(3){
                    top: -22px*@kh;
                    left: 358px*@k2;
                }
                .canvas-i__frame:nth-child(4){
                    bottom: 0;
                    right: 26px*@k2;
                }
            }
            &--hand{
                bottom: -6px;
                left: 272px*@k2;
                z-index: 4;
                img{
                    width: 146px*@k2/@k;
                    height: 165px*@k2;
                }
                .canvas-i__frame{
                    top: 0;
                    left: 0;
                }
            }
            &--head{
                bottom: 84px;
                left: 262px*@k2;
                img{
                    width: 110px*@k2/@k;
                    height: 126px*@k2;
                }
                .canvas-i__frame{
                    top: 0;
                    left: -9px*@k2;
                }
                z-index: 5;
            }
        }
    }
}