.navigator{
    position: relative;
    padding: 0 40px;
    .box-sizing(border-box);
    border-bottom: 38px solid @vtb-blue;
    height: 255px;
    @media @media-small {
        padding: 0 31px;
        height: 194px;
        border-bottom: 34px solid @vtb-blue;
    }
    &:before{
        content:"";
        position: absolute;
        border-top: 25px solid @gray-light;
        border-left: 0 solid transparent;
        border-right: transparent 20px solid;
        height: 0;
        width: 80px;
        top: 0;
        left: 0;
        z-index: 1;
        @media @media-small {
            border-top: 18px solid @gray-light;
            border-left: 0 solid transparent;
            border-right: transparent 18px solid;
        }
    }
    &__h{
        padding-left: 80px;
        line-height: 30px;
        color: @white;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        @media @media-small {
            font-size: 12px;
            line-height: 20px;
            padding-left: 70px;
        }
    }
    &__ctrls{
        margin-top: 18px;
        border: 1px solid @white;
        .border-radius(3px);

        @media @media-small {
            margin-top: 10px;
        }
        .buttons{
            float: right;
            width: 17px;
            border-left: 1px solid @white;
            @media @media-small {
                width: 12px;
            }
        }
        .zoom-in, .zoom-out{
            border: 0;
            padding:0;
            margin: 1px;
            display: block;
            width: 15px;
            height: 15px;
            background-color: @white;
            color: @gray-light;
            line-height: 15px;
            text-align: center;
            .border-radius(3px);
            .icon;
            &:focus{
                outline: 0;
            }
            @media @media-small {
                width: 10px;
                height: 10px;
                line-height: 10px;
                .border-radius(2px);
            }
        }
        .zoom-in{
            .icon-plus;
            font-size: 10px;
            @media @media-small {
                font-size: 7px;
            }
        }
        .zoom-out{
            .icon-minus;
            font-size: 1px;
        }
    }
    .small-img{
        width: 150px;
        height: 155px;
        overflow: hidden;
        position: relative;
        &__wrap{
            width: 100%;
            height: 100%;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        @media @media-small {
            width: 111px;
            height: 104px;
        }
    }
    .buttons{

    }
}
.vtb-support{
    position: absolute;
    bottom: -27px;
    img{
        height: 30px;
    }
    @media @media-small {
        bottom: -21px;
        img{
            height: 22px;
        }
    }
}
@map_height: 155px;
@container_height: 155px;
@map_width: 150px;
@container_width: 150px;
.drag-lens{
    position: absolute;
    top: -(@map_height - @container_height);
    left: -(@map_width - @container_width);
    width: (@map_width - @container_width) + @map_width;
    height: (@map_height - @container_height) + @map_height;
}
@media @media-small {
    @map_height: 106px;
    @container_height: 106px;
    @map_width: 111px;
    @container_width: 111px;
    .drag-lens{
        position: absolute;
        top: -(@map_height - @container_height);
        left: -(@map_width - @container_width);
        width: (@map_width - @container_width) + @map_width;
        height: (@map_height - @container_height) + @map_height;
    }
}
.lens{
    border: 1px solid @pink;
    .box-sizing(border-box);
    background-color: fade(@white, 20%);
    .border-radius(4px);

    position: absolute;
    cursor: move;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @media @media-small {
        .border-radius(3px);
    }
}

.home-link{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: @gray-light;
    .icon{
        display: inline-block;
        vertical-align: middle;
        .transform(scale(1,1.1));
        &:before{
            font-size: 30px;
            color: @vtb-blue;
        }
        &:hover:before{
            color: @pink;
        }
    }
    @media @media-small {
        width: 30px;
        height: 30px;
        line-height: 30px;
        .icon{
            &:before{
                font-size: 25px;
            }
        }
    }
}