.old-version__txt {
    display: none;
}
.app-wrap.oldie {
    width: 945px;
    height: 683px;
    font-family: 'MetaPro', Arial, sans-serif;
    @media @media-small {
        width: 720px;
        height: 520px;
    }
    background: url('@{public}images/stub-bg-sm.jpg') no-repeat top center;
    text-align: center;
    .clearfix;

    .zoom{
        display: none!important;
    }
    .old-version__txt {
        color: #ffffff;
        display: block;
        font-size: 16px;
        font-weight: 600;
        margin: 160px 0 0;
        padding-right: 220px;
        padding-left: 20px;
    }
    .new-browsers-lst {
        display: block;
        list-style: none;
        margin: 20px 0 0;
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 20px;
            padding: 0;
            i {
                background: url("@{public}/images/browsers-sprite.png") no-repeat;
                display: block;
                height: 50px;
                width: 51px;
            }
            .ie {
                background-position: -127px -5px;
            }
            .ff {
                background-position: -66px -5px;
            }
            .chrome {
                background-position: -5px -5px;
            }
        }
    }
}
@media @media-big {
    .app-wrap.oldie .old-version__txt {
        margin-top: 240px;
        padding-right: 320px;
        padding-left: 135px;
    }
    .app-wrap.oldie {
        background: url('@{public}/images/stub-bg.jpg') no-repeat top center;
    }
}