/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clean-ul-list {
  list-style: none;
}
.clean-ul-list,
.clean-ul-list li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* This stylesheet generated by Transfonter (http://transfonter.org) on April 11, 2016 4:15 PM */
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-ThinIta.eot');
  src: url('..//fonts/MetaPro-ThinIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-ThinIta.woff') format('woff'), url('..//fonts/MetaPro-ThinIta.ttf') format('truetype'), url('..//fonts/MetaPro-ThinIta.svg#MetaPro-ThinIta') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'MetaPro-Hair';
  src: url('..//fonts/MetaPro-Hair.eot');
  src: url('..//fonts/MetaPro-Hair.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Hair.woff') format('woff'), url('..//fonts/MetaPro-Hair.ttf') format('truetype'), url('..//fonts/MetaPro-Hair.svg#MetaPro-Hair') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-BoldIta.eot');
  src: url('..//fonts/MetaPro-BoldIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-BoldIta.woff') format('woff'), url('..//fonts/MetaPro-BoldIta.ttf') format('truetype'), url('..//fonts/MetaPro-BoldIta.svg#MetaPro-BoldIta') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-Norm.eot');
  src: url('..//fonts/MetaPro-Norm.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Norm.woff') format('woff'), url('..//fonts/MetaPro-Norm.ttf') format('truetype'), url('..//fonts/MetaPro-Norm.svg#MetaPro-Norm') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro-BookIta';
  src: url('..//fonts/MetaPro-BookIta.eot');
  src: url('..//fonts/MetaPro-BookIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-BookIta.woff') format('woff'), url('..//fonts/MetaPro-BookIta.ttf') format('truetype'), url('..//fonts/MetaPro-BookIta.svg#MetaPro-BookIta') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-NormIta.eot');
  src: url('..//fonts/MetaPro-NormIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-NormIta.woff') format('woff'), url('..//fonts/MetaPro-NormIta.ttf') format('truetype'), url('..//fonts/MetaPro-NormIta.svg#MetaPro-NormIta') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-LightIta.eot');
  src: url('..//fonts/MetaPro-LightIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-LightIta.woff') format('woff'), url('..//fonts/MetaPro-LightIta.ttf') format('truetype'), url('..//fonts/MetaPro-LightIta.svg#MetaPro-LightIta') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'MetaPro-Hair';
  src: url('..//fonts/MetaPro-HairIta.eot');
  src: url('..//fonts/MetaPro-HairIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-HairIta.woff') format('woff'), url('..//fonts/MetaPro-HairIta.ttf') format('truetype'), url('..//fonts/MetaPro-HairIta.svg#MetaPro-HairIta') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-Light.eot');
  src: url('..//fonts/MetaPro-Light.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Light.woff') format('woff'), url('..//fonts/MetaPro-Light.ttf') format('truetype'), url('..//fonts/MetaPro-Light.svg#MetaPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-Thin.eot');
  src: url('..//fonts/MetaPro-Thin.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Thin.woff') format('woff'), url('..//fonts/MetaPro-Thin.ttf') format('truetype'), url('..//fonts/MetaPro-Thin.svg#MetaPro-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-Medi.eot');
  src: url('..//fonts/MetaPro-Medi.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Medi.woff') format('woff'), url('..//fonts/MetaPro-Medi.ttf') format('truetype'), url('..//fonts/MetaPro-Medi.svg#MetaPro-Medi') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro-Book';
  src: url('..//fonts/MetaPro-Book.eot');
  src: url('..//fonts/MetaPro-Book.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Book.woff') format('woff'), url('..//fonts/MetaPro-Book.ttf') format('truetype'), url('..//fonts/MetaPro-Book.svg#MetaPro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-Black.eot');
  src: url('..//fonts/MetaPro-Black.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Black.woff') format('woff'), url('..//fonts/MetaPro-Black.ttf') format('truetype'), url('..//fonts/MetaPro-Black.svg#MetaPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-BlackIta.eot');
  src: url('..//fonts/MetaPro-BlackIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-BlackIta.woff') format('woff'), url('..//fonts/MetaPro-BlackIta.ttf') format('truetype'), url('..//fonts/MetaPro-BlackIta.svg#MetaPro-BlackIta') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-Bold.eot');
  src: url('..//fonts/MetaPro-Bold.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Bold.woff') format('woff'), url('..//fonts/MetaPro-Bold.ttf') format('truetype'), url('..//fonts/MetaPro-Bold.svg#MetaPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-MediIta.eot');
  src: url('..//fonts/MetaPro-MediIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-MediIta.woff') format('woff'), url('..//fonts/MetaPro-MediIta.ttf') format('truetype'), url('..//fonts/MetaPro-MediIta.svg#MetaPro-MediIta') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'controls';
  src: url('..//fonts/controls/controls.eot?48883609');
  src: url('..//fonts/controls/controls.eot?48883609#iefix') format('embedded-opentype'), url('..//fonts/controls/controls.woff2?48883609') format('woff2'), url('..//fonts/controls/controls.woff?48883609') format('woff'), url('..//fonts/controls/controls.ttf?48883609') format('truetype'), url('..//fonts/controls/controls.svg?48883609#controls') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon:before {
  font-family: "controls";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-plus:before {
  content: '\e800';
}
.icon-minus:before {
  content: '\e801';
}
.icon-home:before {
  content: '\e802';
}
.navigator {
  position: relative;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 38px solid #243471;
  height: 255px;
}
@media (max-width: 1279px) {
  .navigator {
    padding: 0 31px;
    height: 194px;
    border-bottom: 34px solid #243471;
  }
}
.navigator:before {
  content: "";
  position: absolute;
  border-top: 25px solid #e4e4e6;
  border-left: 0 solid transparent;
  border-right: transparent 20px solid;
  height: 0;
  width: 80px;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 1279px) {
  .navigator:before {
    border-top: 18px solid #e4e4e6;
    border-left: 0 solid transparent;
    border-right: transparent 18px solid;
  }
}
.navigator__h {
  padding-left: 80px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}
@media (max-width: 1279px) {
  .navigator__h {
    font-size: 12px;
    line-height: 20px;
    padding-left: 70px;
  }
}
.navigator__ctrls {
  margin-top: 18px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
}
@media (max-width: 1279px) {
  .navigator__ctrls {
    margin-top: 10px;
  }
}
.navigator__ctrls .buttons {
  float: right;
  width: 17px;
  border-left: 1px solid #ffffff;
}
@media (max-width: 1279px) {
  .navigator__ctrls .buttons {
    width: 12px;
  }
}
.navigator__ctrls .zoom-in,
.navigator__ctrls .zoom-out {
  border: 0;
  padding: 0;
  margin: 1px;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  color: #e4e4e6;
  line-height: 15px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
}
.navigator__ctrls .zoom-in:before,
.navigator__ctrls .zoom-out:before {
  font-family: "controls";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.navigator__ctrls .zoom-in:focus,
.navigator__ctrls .zoom-out:focus {
  outline: 0;
}
@media (max-width: 1279px) {
  .navigator__ctrls .zoom-in,
  .navigator__ctrls .zoom-out {
    width: 10px;
    height: 10px;
    line-height: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: border-box;
    -moz-background-clip: border;
    background-clip: border-box;
  }
}
.navigator__ctrls .zoom-in {
  font-size: 10px;
}
.navigator__ctrls .zoom-in:before {
  content: '\e800';
}
@media (max-width: 1279px) {
  .navigator__ctrls .zoom-in {
    font-size: 7px;
  }
}
.navigator__ctrls .zoom-out {
  font-size: 1px;
}
.navigator__ctrls .zoom-out:before {
  content: '\e801';
}
.navigator .small-img {
  width: 150px;
  height: 155px;
  overflow: hidden;
  position: relative;
}
.navigator .small-img__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.navigator .small-img__wrap img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 1279px) {
  .navigator .small-img {
    width: 111px;
    height: 104px;
  }
}
.vtb-support {
  position: absolute;
  bottom: -27px;
}
.vtb-support img {
  height: 30px;
}
@media (max-width: 1279px) {
  .vtb-support {
    bottom: -21px;
  }
  .vtb-support img {
    height: 22px;
  }
}
.drag-lens {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 155px;
}
@media (max-width: 1279px) {
  .drag-lens {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 111px;
    height: 106px;
  }
}
.lens {
  border: 1px solid #d74992;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  position: absolute;
  cursor: move;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1279px) {
  .lens {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-background-clip: border;
    background-clip: border-box;
  }
}
.home-link {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #e4e4e6;
}
.home-link .icon {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: scale(1, 1.1);
  -moz-transform: scale(1, 1.1);
  -ms-transform: scale(1, 1.1);
  transform: scale(1, 1.1);
}
.home-link .icon:before {
  font-size: 30px;
  color: #243471;
}
.home-link .icon:hover:before {
  color: #d74992;
}
@media (max-width: 1279px) {
  .home-link {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .home-link .icon:before {
    font-size: 25px;
  }
}
.zoom {
  position: relative;
  font-family: 'MetaPro', Arial, sans-serif;
  width: 945px;
  height: 683px;
}
@media (max-width: 1279px) {
  .zoom {
    width: 720px;
    height: 520px;
  }
}
.zoom-picture {
  margin-right: 250px;
  width: 695px;
  height: 683px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1279px) {
  .zoom-picture {
    width: 532px;
    height: 520px;
    margin-right: 188px;
  }
}
.zoom-picture .big-img {
  width: 695px;
  height: 683px;
  overflow: hidden;
}
@media (max-width: 1279px) {
  .zoom-picture .big-img {
    width: 532px;
    height: 520px;
  }
}
.zoom-picture .big-img__wrap {
  width: 100%;
  height: 100%;
}
.zoom-picture .big-img__wrap > img {
  width: 100%;
  height: 100%;
}
.zoom-sidebar {
  float: right;
  background: #a7a9ab;
  width: 250px;
  height: 683px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1279px) {
  .zoom-sidebar {
    height: 520px;
    width: 188px;
  }
}
.zoom-sidebar__content {
  margin-top: 15px;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 413px;
  background: #e4e4e6;
}
@media (max-width: 1279px) {
  .zoom-sidebar__content {
    width: 188px;
    height: 316px;
  }
}
.zoom-sidebar:before {
  content: "";
  position: absolute;
  border-top: 25px solid #a7a9ab;
  border-left: 0 solid transparent;
  border-right: transparent 20px solid;
  height: 0;
  width: 10px;
  top: 15px;
  left: 0;
  z-index: 1;
}
@media (max-width: 1279px) {
  .zoom-sidebar:before {
    border-top: 18px solid #a7a9ab;
    border-left: 0 solid transparent;
    border-right: transparent 18px solid;
  }
}
.zoom-sidebar:after {
  content: "";
  position: absolute;
  top: 11px;
  left: 18px;
  width: 1px;
  height: 35px;
  background-color: rgba(228, 228, 230, 0.45);
  -webkit-transform: rotate(39deg);
  -moz-transform: rotate(39deg);
  -ms-transform: rotate(39deg);
  transform: rotate(39deg);
  z-index: 2;
}
.zoom-content {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s opacity ease;
  -moz-transition: 0.5s opacity ease;
  -ms-transition: 0.5s opacity ease;
  transition: 0.5s opacity ease;
  padding: 0 30px 10px;
  height: 413px;
}
@media (max-width: 1279px) {
  .zoom-content {
    padding: 0 16px 10px 24px;
    height: 316px;
  }
}
.zoom-content.active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.zoom-content__h {
  font-size: 15px;
  text-transform: uppercase;
  margin: 10px 0 20px;
  font-weight: 500;
}
@media (max-width: 1279px) {
  .zoom-content__h {
    font-size: 12px;
    margin: 5px 0 10px;
  }
}
.zoom-content__b {
  font-size: 15px;
  line-height: 1.4em;
}
@media (max-width: 1279px) {
  .zoom-content__b {
    font-size: 12px;
  }
}
.zoom-range {
  display: block;
  width: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.zoom-range output {
  display: none;
}
@media (max-width: 1279px) {
  .zoom-range {
    width: 12px;
  }
}
.zoom-range .rangeslider.rangeslider--vertical {
  height: 121px;
  min-height: 121px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  background-color: #a7a9ab;
}
@media (max-width: 1279px) {
  .zoom-range .rangeslider.rangeslider--vertical {
    height: 80px;
    min-height: 80px;
  }
}
.zoom-range .rangeslider__fill {
  background-color: rgba(228, 228, 230, 0.4);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.zoom-range .rangeslider--vertical .rangeslider__handle {
  width: 15px;
  height: 14px;
  background: transparent;
  border: 0;
  left: 1px;
}
.zoom-range .rangeslider--vertical .rangeslider__handle:after {
  background: url("..//images/range-marker.2x.png") no-repeat;
  width: 15px;
  height: 14px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 1279px) {
  .zoom-range .rangeslider--vertical .rangeslider__handle {
    width: 10px;
    height: 10px;
  }
  .zoom-range .rangeslider--vertical .rangeslider__handle:after {
    width: 10px;
    height: 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.hover-disabled .canvas {
  display: none!important;
}
.canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}
.canvas-i {
  position: absolute;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.canvas-i:hover,
.canvas-i.active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.canvas-i__frame {
  width: 117px;
  height: 117px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  position: absolute;
  z-index: 1;
}
@media (max-width: 1279px) {
  .canvas-i__frame {
    width: 90px;
    height: 90px;
  }
}
.canvas-i--flash {
  top: -26px;
  left: 72px;
  z-index: 1;
}
.canvas-i--flash img {
  width: 492px;
  height: 480px;
}
.canvas-i--flash .canvas-i__frame {
  top: 32%;
  left: 36%;
}
.canvas-i--varrior {
  top: 438px;
  left: 0;
  z-index: 2;
}
.canvas-i--varrior img {
  width: 68px;
  height: 114px;
}
.canvas-i--varrior .canvas-i__frame {
  top: 0;
  left: 3px;
}
.canvas-i--ruin {
  bottom: -6px;
  left: 50px;
  z-index: 3;
}
.canvas-i--ruin img {
  width: 619px;
  height: 222px;
}
.canvas-i--ruin .canvas-i__frame:nth-child(2) {
  top: -16px;
  left: 24px;
}
.canvas-i--ruin .canvas-i__frame:nth-child(3) {
  top: -22px;
  left: 358px;
}
.canvas-i--ruin .canvas-i__frame:nth-child(4) {
  bottom: 0px;
  right: 26px;
}
.canvas-i--hand {
  bottom: -5px;
  left: 272px;
  z-index: 4;
}
.canvas-i--hand img {
  width: 146px;
  height: 165px;
}
.canvas-i--hand .canvas-i__frame {
  top: 0;
  left: 0;
}
.canvas-i--head {
  bottom: 112px;
  left: 262px;
  z-index: 5;
}
.canvas-i--head img {
  width: 110px;
  height: 126px;
}
.canvas-i--head .canvas-i__frame {
  top: 0;
  left: -9px;
}
@media (max-width: 1279px) {
  .canvas-i--flash {
    top: -20px;
    left: 55px;
    z-index: 1;
  }
  .canvas-i--flash img {
    width: 376.7736px;
    height: 365.424px;
  }
  .canvas-i--flash .canvas-i__frame {
    top: 32%;
    left: 36%;
  }
  .canvas-i--varrior {
    top: 333.4494px;
    left: 0;
    z-index: 2;
  }
  .canvas-i--varrior img {
    width: 52.0744px;
    height: 86.7882px;
  }
  .canvas-i--varrior .canvas-i__frame {
    top: 0;
    left: 2.2839px;
  }
  .canvas-i--ruin {
    bottom: -6px;
    left: 38px;
    z-index: 3;
  }
  .canvas-i--ruin img {
    width: 474.0302px;
    height: 169.0086px;
  }
  .canvas-i--ruin .canvas-i__frame:nth-child(2) {
    top: -12.1808px;
    left: 18.3792px;
  }
  .canvas-i--ruin .canvas-i__frame:nth-child(3) {
    top: -16.7486px;
    left: 274.1564px;
  }
  .canvas-i--ruin .canvas-i__frame:nth-child(4) {
    bottom: 0;
    right: 19.9108px;
  }
  .canvas-i--hand {
    bottom: -6px;
    left: 208.2976px;
    z-index: 4;
  }
  .canvas-i--hand img {
    width: 111.8068px;
    height: 126.357px;
  }
  .canvas-i--hand .canvas-i__frame {
    top: 0;
    left: 0;
  }
  .canvas-i--head {
    bottom: 84px;
    left: 200.6396px;
    z-index: 5;
  }
  .canvas-i--head img {
    width: 84.238px;
    height: 96.4908px;
  }
  .canvas-i--head .canvas-i__frame {
    top: 0;
    left: -6.8922px;
  }
}
.old-version__txt {
  display: none;
}
.app-wrap.oldie {
  width: 945px;
  height: 683px;
  font-family: 'MetaPro', Arial, sans-serif;
  background: url('../images/stub-bg-sm.jpg') no-repeat top center;
  text-align: center;
  *zoom: 1;
}
@media (max-width: 1279px) {
  .app-wrap.oldie {
    width: 720px;
    height: 520px;
  }
}
.app-wrap.oldie:before,
.app-wrap.oldie:after {
  content: " ";
  display: table;
}
.app-wrap.oldie:after {
  clear: both;
}
.app-wrap.oldie .zoom {
  display: none!important;
}
.app-wrap.oldie .old-version__txt {
  color: #ffffff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 160px 0 0;
  padding-right: 220px;
  padding-left: 20px;
}
.app-wrap.oldie .new-browsers-lst {
  display: block;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  text-align: center;
}
.app-wrap.oldie .new-browsers-lst li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}
.app-wrap.oldie .new-browsers-lst li i {
  background: url("..//images/browsers-sprite.png") no-repeat;
  display: block;
  height: 50px;
  width: 51px;
}
.app-wrap.oldie .new-browsers-lst li .ie {
  background-position: -127px -5px;
}
.app-wrap.oldie .new-browsers-lst li .ff {
  background-position: -66px -5px;
}
.app-wrap.oldie .new-browsers-lst li .chrome {
  background-position: -5px -5px;
}
@media (min-width: 1280px) {
  .app-wrap.oldie .old-version__txt {
    margin-top: 240px;
    padding-right: 320px;
    padding-left: 135px;
  }
  .app-wrap.oldie {
    background: url('..//images/stub-bg.jpg') no-repeat top center;
  }
}
