@gray-light: #e4e4e6;
@gray-dark: #a7a9ab;
@pink: #d74992;
@vtb-blue: #243471;
@white: #fff;
@black : #000;
@public: '../';
@media-width-point : 1280px;
@media-max-point: 1279px;
@media-small: ~'(max-width: @{media-max-point})';
@media-big: ~'(min-width: @{media-width-point})';