.zoom{
    position: relative;
    font-family: 'MetaPro', Arial, sans-serif;
    width: 945px;
    height: 683px;
    @media @media-small {
        width: 720px;
        height: 520px;
    }

}
.zoom-picture{
    margin-right: 250px;
    width: 695px;
    height: 683px;
    overflow: hidden;
    position: relative;
    @media @media-small {
        width: 532px;
        height: 520px;
        margin-right: 188px;
    }
    .big-img{
        width: 695px;
        height: 683px;
        overflow: hidden;
        @media @media-small {
            width: 532px;
            height: 520px;
        }

        &__wrap{
            width: 100%;
            height:100%;
            >img{
                width: 100%;
                height: 100%;
            }
        }
    }

}
.zoom-sidebar{
    float: right;
    background: @gray-dark;
    width: 250px;
    height: 683px;
    position: relative;
    overflow: hidden;
    @media @media-small {
        height: 520px;
        width: 188px;
    }
    &__content{
        margin-top: 15px;
        position: relative;
        overflow: hidden;
        width: 250px;
        height: 413px;
        background: @gray-light;
        @media @media-small {
            width: 188px;
            height: 316px;
        }
    }
    &:before{
        content:"";
        position: absolute;
        border-top: 25px solid #a7a9ab;
        border-left: 0 solid transparent;
        border-right: transparent 20px solid;
        height: 0;
        width: 10px;
        top: 15px;
        left: 0;
        z-index: 1;
        @media @media-small {
            border-top: 18px solid #a7a9ab;
            border-left: 0 solid transparent;
            border-right: transparent 18px solid;
        }
    }
    &:after{
        content: "";
        position: absolute;
        top: 11px;
        left: 18px;
        width: 1px;
        height: 35px;
        background-color: fade(@gray-light, 45%);
        .transform(rotate(39deg));
        z-index: 2;
    }
}

.zoom-content{
    .opacity(0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .box-sizing(border-box);
    .transition(.5s opacity ease);
    padding: 0 30px 10px;
    height: 413px;
    @media @media-small {
        padding: 0 16px 10px 24px;
        height: 316px;
    }
    &.active{
        .opacity(1);
    }
    &__h{
        font-size: 15px;
        text-transform: uppercase;
        margin: 10px 0 20px;
        font-weight: 500;
        @media @media-small {
            font-size: 12px;
            margin: 5px 0 10px;
        }
    }
    &__b{
        font-size: 15px;
        line-height: 1.4em;
        @media @media-small {
            font-size: 12px;
        }
    }
}
.zoom-range{
    display: block;
    width: 17px;
    .box-sizing(border-box);
    overflow: hidden;
    output{
        display: none;
    }
    @media @media-small {
        width: 12px;
    }
    .rangeslider.rangeslider--vertical{
        height: 121px;
        min-height: 121px;
        .border-radius(0);
        background-color: @gray-dark;
        @media @media-small {
            height: 80px;
            min-height: 80px;
        }
    }
    .rangeslider__fill{
        background-color: fade(@gray-light, 40%);
        .border-radius(0);
        .box-shadow(none);
    }
    .rangeslider--vertical .rangeslider__handle{
        width: 15px;
        height: 14px;
        background: transparent;
        border: 0;
        left: 1px;
        &:after{
            background: url("@{public}/images/range-marker.2x.png")no-repeat;
            width: 15px;
            height: 14px;
            .background-size(cover);
        }
        @media @media-small {
            width: 10px;
            height: 10px;
            &:after{
                width: 10px;
                height: 10px;
                .background-size(cover);
            }
        }
    }
}